.imageContainer {
  height: 700px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0 0;
  grid-template-areas:
    'imgOne imgTwo imgThree'
    'imgOne imgFour imgFour'
    'imgFive imgFour imgFour';
}

.imgOne {
  grid-area: imgOne;
  overflow: hidden;
  width: 100%;
}

.imgTwo {
  grid-area: imgTwo;
  overflow: hidden;
  width: 100%;
}

.imgThree {
  grid-area: imgThree;
  overflow: hidden;
  width: 100%;
}

.imgFour {
  grid-area: imgFour;
  overflow: hidden;
  width: 100%;
}

.imgFive {
  grid-area: imgFive;
  overflow: hidden;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

div {
  overflow: hidden;
}
